{% extends 'main.html' %}

{% block content %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Crypto Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h2>This is Crypto page check</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="amount">
            <select name="from" id="">
            </select>

            <select name="from" id="">
            </select>
            <button type="submit">Count</button>
        </form>
    </body>
{% endblock  %}
</html>