

{% extends 'main.html' %}

{% block content %}

{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Currency</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="css/roboto-font.css">
	<link rel="stylesheet" type="text/css" href="fonts/line-awesome/css/line-awesome.min.css">
	<!-- Jquery -->
	<link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css">
	<!-- Main Style Css -->
    
</head>
<body class="form-v2">
	<div class="page-content">
		<div class="form-v2-content">
			<div class="form-left">
				{% comment %} <img src={% static 'images/form-v2.jpg' %} alt="form"> {% endcomment %}
				
			</div>
			<form class="form-detail" action="#" method="post" id="myform">
				{% csrf_token %}
				<h2>Choose your Currency</h2>
				<h2>The actual USD <img style="width:70px;" src={% static 'images/USD.jpg' %} alt="USD picture"> to RUB <img style="width:70px;" src={% static 'images/RUB.jpg' %} alt="RUB picture"> rate today is {{USD_RUB}}</h2>
				<h2>The actual EUR <img style="width:70px;" src={% static 'images/EUR.jpg' %} alt="EUR picture"> to RUB <img style="width:70px;" src={% static 'images/RUB.jpg' %} alt="RUB picture"> rate today is {{EUR_RUB}}</h2>
				<h2>The actual CNY <img style="width:70px;" src={% static 'images/CNY.jpg' %} alt="CNY picture"> to RUB <img style="width:70px;" src={% static 'images/RUB.jpg' %} alt="RUB picture"> rate today is {{CNY_RUB}}</h2>
				<div class="form-row">
					<label for="full-name">From:</label>
					<select class="form-control">
					</select>
				</div>
				<div class="form-row">
					<label for="your_email">To:</label>
					<select class="form-control">
					</select>
				</div>
				<br>
				<div class="form-row-last">
					<input type="submit" name="register" class="register" value="Confirm">
				</div>
			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

</body>
</html>
{% endblock content %}