{% extends 'main.html' %}

{% block content %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Email Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="page-content">
            <div class="form-v2-content">
                <div class="form-left">
                    
                </div>
                <form class="form-detail" action="#" method="post" id="myform">
                    <h2>This is an Email page</h2>
                    <br>
                </form>
            </div>
        </div>
    </body>
{% endblock  %}
</html>