

{% extends 'main.html' %}

{% block content %}

{% load static %}



<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Time Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <img src={% static 'images/RUB.jpg' %} alt="RUB picture">
    </body>
{% endblock  %}
</html>