{% extends 'main.html' %}

{% block content %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Generate Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="page-content">
            <div class="form-v2-content">
                <div class="form-left">   
                </div>
                <form class="form-detail" action="#" method="post" id="myform">
                    {% csrf_token %}
                    {{ form.difficulty.as_hidden }}
                    {{ form.length.as_hidden }}
                    <label for="{{ form.difficulty.id_for_label }}">Difficulty:
                    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="{{ form.difficulty.name }}" id="{{ form.difficulty.id_for_label }}">
                        {% for value, label in form.difficulty.field.choices %}
                            <option value="{{ value }}" {% if value == difficulty %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                    </label>
                    <br>
                    <label for="{{ form.length.id_for_label }}">Length:</label>
                    <input type="number" name="{{ form.length.name }}" id="{{ form.length.id_for_label }}" value="{{ length }}">
                    <br>
                    <button class="btn btn-secondary" type="submit">Generate Password</button>
                    <h2>This is your password {{password}} </h2>
                    <br>
                </form>
            </div>
        </div>
    </body>
{% endblock  %}
</html>