{% extends 'main.html' %}

{% block content %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Measurement Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="page-content">
            <div class="form-v2-content">
                <div class="form-left">   
                </div>
                <form class="form-detail" action="#" method="post" id="myform">
                <!-- Fahrenheit input field -->
                <p>
                    <label>Fahrenheit</label>
                    <input id="inputFahrenheit" type="number" placeholder="Fahrenheit" oninput="temperatureConverter(this.id, this.value)" onchange="temperatureConverter(this.id, this.value)">
                </p>
                
                <!-- Kelvin input field -->
                <p>
                    <label>Kelvin</label>
                    <input id="inputKelvin" type="number" placeholder="Kelvin" oninput="temperatureConverter(this.id, this.value)" onchange="temperatureConverter(this.id, this.value)">
                </p>
                
                <br>
                
                <!-- Celsius output field -->
                <p>Celsius: <span id="outputCelcius"></span></p>
                
                <!-- JavaScript function to convert temperature -->
                <script>
                function temperatureConverter(inputId, valNum) {
                    valNum = parseFloat(valNum);    
                    if (inputId === "inputFahrenheit") {
                    // Convert Fahrenheit to Celsius
                    document.getElementById("outputCelcius").innerHTML = (valNum - 32) / 1.8;
                    } else if (inputId === "inputKelvin") {
                    // Convert Kelvin to Celsius
                    document.getElementById("outputCelcius").innerHTML = valNum - 273.15;
                    }
                }
                </script>
                <!-- Miles input field -->
                <p>
                    <label>Miles</label>
                    <input id="inputMiles" type="number" placeholder="Miles" oninput="distanceConverter(this.id, this.value)" onchange="distanceConverter(this.id, this.value)">
                </p>
                
                <!-- Kilometers input field -->
                <p>
                    <label>Kilometers</label>
                    <input id="inputKilometers" type="number" placeholder="Kilometers" oninput="distanceConverter(this.id, this.value)" onchange="distanceConverter(this.id, this.value)">
                </p>
                
                <br>
                <!-- Kilometers output field -->
                <p>Kilometers: <span id="outputKilometers"></span></p>
                
                <!-- JavaScript function to convert distance -->
                <script>
                function distanceConverter(inputId, valNum) {
                    valNum = parseFloat(valNum);
                    if (inputId === "inputMiles") {
                    // Convert Miles to Kilometers
                    document.getElementById("outputKilometers").innerHTML = valNum * 1.60934;
                    } else if (inputId === "inputKilometers") {
                    // Convert Kilometers to Miles
                    document.getElementById("outputKilometers").innerHTML = valNum / 1.60934;
                    }
                }
                </script>
                      
                </form>
            </div>
        </div>
    </body>
</html>
{% endblock  %}