
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    {% if request.user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'home' %}">Home Hello {{}}</a>
    {% else %}
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'time' %}">Time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'measurement' %}">Measurement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'email' %}">Email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'weather' %}">Weather</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'crypto' %}">Crypto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'currency' %}">Currency</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'generate-password' %}">Generate Password</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user-register' %}">User</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Maps
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'gmap' %}">Google Map</a>
            <a class="dropdown-item" href="{% url 'fmap' %}">Folium App</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
</nav>